[submodule "auth"]
	path = auth
	url = git@github.com:mokkup-ai/auth.git
[submodule "blog"]
	path = blog
	url = git@github.com:mokkup-ai/blog.git
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:mokkup-ai/dashboard.git
